/* beginning of Style.css*/
/* Main body Style*/
#mainbody{
	text-align: center;
}

#Player{
	Height: 50%; 
	Width: 50%;
}

#VideoPlayer{
	Height: 80%; 
	Width: 95%; 
	display: none; 
	margin-left: auto; 
	margin-right: auto;
}
/* */
	
/*Main Page Media Objects*/
#CurrentPop {
	background-color: black;
	margin-left: 26%;
	margin-right: 19%;
	margin-top: 4%;
	padding-top: 15%;
	padding-bottom: 15%;
}

#MediaObject1 {
	height: 25%;
	width: 25%;
	background-color: gray;
	padding: 10px;
	top:20%;
	left: 54%;
	volume:0.1;
	position:absolute;
}

#MediaObject2 {
	height: 25%;
	width: 25%;
	background-color: gray;
	padding: 10px;
	top:20%;
	left: 27%;
	volume:0.1;
	position:absolute;
}

#MediaObject3 {
	height: 25%;
	width: 25%;
	background-color: gray;
	padding: 10px;
	top:50%;
	left: 54%;
	volume:0.1;
	position:absolute;
}

#MediaObject4 {
	height: 25%;
	width: 25%;
	background-color: gray;
	padding: 10px;
	top:50%;
	left: 27%;
	volume:0.1;
	position:absolute;
}
/* */

/*Dropdown Menu*/
.dropdown {
  position: relative;
  display: inline-block;
  background: Red;
  padding: 10px;
  Margin: 0 auto;
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* */